@font-face {
  font-family: 'Uni Sans';
  font-weight: 100;
  src: url('../fonts/unisansfree/Uni Sans Thin.otf');
}
@font-face {
  font-family: 'Uni Sans';
  font-weight: 700;
  src: url('../fonts/unisansfree/Uni Sans Heavy.otf');
}


#video-bg {
    position: absolute;
    top: 0px; right: 0; bottom: 0; left: 0;
    overflow: hidden;
    clear: both;
    width: 100%;
}

body {
  margin: 0;
  color: rgba(33, 33, 33, 1);
  font-family: 'Uni Sans', sans-serif;
  font-weight: 100;
}

h1 {
  font-family: 'Uni Sans', sans-serif;
  font-weight: 700;
  font-size: 70px;
}
 
h1 a:hover {
  color: rgba(33, 33, 33, 0.6);
}

a:visited {
  text-decoration: none;
   color: rgba(33, 33, 33, 0.95);
}

a:link {
  text-decoration: none;
   color: rgba(33, 33, 33, 0.95);
}

a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
    /*z-index: -1;*/
    /*clear: both;
  }
/*

  #video-bg > video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */



  /* 1. No object-fit support: */
  @media (min-aspect-ratio: 16/9) {
    #video-bg > video { height: 300%; top: -100%; }
  }
  @media (max-aspect-ratio: 16/9) {
    #video-bg > video { width: 300%; left: -100%; }
  }
  /* 2. If supporting object-fit, overriding (1): */
  @supports (object-fit: cover) {
    #video-bg > video {
      top: 0; left: 0;
      width: 100%; height: 100%;
      object-fit: cover;
    }
  }
  
video {
  width: 100% !important;
/*  max-width: 1000px !important;
*/  height: auto !important;
}

.info-box {
  border: 1px solid #FFFFFF;
  clear: both;
}

.video-overlay {
  position: absolute;
  text-align: center;
  z-index:1005;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-color {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1004;
  background-color: rgba(255, 153, 51, 0.5);
}



li {
  list-style: none;
  display: inline;
}

.video-cont {
  margin: 0;
  padding: 0;
  width: 100%;
}

.video-form {
  font-size: 35px;
}

.video-input {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0);
  width: 50%;
  font-weight: 700;
  border: none;
  border-bottom: 5px solid rgba(33, 33, 33, 0.9);
  outline: 0;
  padding-bottom: 2px;
  color: #fff;
}

.video-btn {
  color: rgba(33, 33, 33, 1);
  background-color: rgba(33, 33, 33, 0.3);
  border-radius: 4px;
  border: 5px solid rgba(33, 33, 33, 0.9);
  padding: 6px;
  margin-left: 15px;
}

.video-btn:hover {
  cursor: pointer;
  border: 5px dashed rgba(33, 33, 33, 0.9);
}

p {
  color: white;
}

.container {
  width: 100%;
  padding: 0;
}

.foot {
  bottom: 10px;
  font-size: 30px;
  z-index: 1006;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  font-size: 30px;
  color: white;

}

::-webkit-input-placeholder {
   color: rgba(33, 33, 33, 0.8);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(33, 33, 33, 0.8);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(33, 33, 33, 0.8);  
}

:-ms-input-placeholder {  
   color: rgba(33, 33, 33, 0.8);  
}

