extend layout-minimal
block content
	.container
		if pageData && pageData.result == true
			h1 Email Submission Successful! 
			h3 We will send you an email when registration is open
		else
			h1 Oops! There was an error submitting your email.
			h3 
				a(href='/') Try again
