//- TODO: 
//- 	put video in background
//- 	update logo
//- 	make it look nice + edit the text maybe

extend layout-minimal
block content
	.container
		center
			img(src='img/logo-old.png')
			p.
				Don't call it a comeback.
				Registration opens New Year's Eve.
			form.form-horizontal(name='previewEmailSubscribe', method='post', action='/preview/confirmation', role='form')
				input#email(type='text', class='form-control', name='email', placeholder='youremail@your.uni', value=email)
				button(type='submit', class='btn btn-primary') Submit!
			p.
				Tallahassee, FL &#8226; 30 Hours
				
		
