//- TODO: 
//- 	put video in background
//- 	update logo
//- 	make it look nice + edit the text maybe

extend layout-minimal
block content
	.container
		.video-cont
			div(id='video-bg')
				.video-color
				.video-overlay
					img(src='img/ninetiesFeather.png')
					h1
						a(target='_blank' href='https://www.youtube.com/watch?v=vimZj8HW0Kg') Don't call it a comeback.
					h1.
						Registration opens January 5th.

					div(id='vidForm')
						form.video-form(id='previewEmailSubscribe', action='', role='form')
							input#email(spellcheck='off', type='text', class='video-input', name='email', autocomplete='off', placeholder='info@hackfsu.com', value=email)
							button(type='submit', id='submit', class='video-btn') Get Notified
							div(style='clear: both')




					
				video(loop, autoplay)
					source(type='video/mp4', src='res/hackfsu_bgv2.mp4')

				.mobileBG

		.foot.
			Tallahassee FL &#8226; 30 Hours


						
block localJavascript	
	script(src='js/parse.js')
				
		
