doctype html
html(lang='en')
	
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='HackFSU Landing Page')
		meta(name='author', content='HackFSU')

		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/square-corners.css')
		link(rel='stylesheet', href='/css/fonts.css')
		link(rel='stylesheet', href='/css/sticky-footer.css')

		title HackFSU - #{title}
	body
		#wrap
			block content
		.footer
			.container
				p(class="text-muted credit").
					&copy; HackFSU



		//- JavaScripts here so page loads plus rapidement
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
